<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'battleship/css/styles.css' %}">
    <title>Морской бой</title>
</head>
<body>
    <h1>Морской бой</h1>

    <div class="game-container">
        <div class="board-container">
            <h2>Ваше поле</h2>
            <div id="player-board" class="board"></div>
            <button id="place-ships">Расставить корабли</button>
        </div>

        <div class="board-container">
            <h2>Поле противника</h2>
            <div id="computer-board" class="board"></div>
        </div>
    </div>

    <audio id="hit-sound" src="{% static 'battleship/sounds/hit.mp3' %}"></audio>
    <audio id="miss-sound" src="{% static 'battleship/sounds/miss.mp3' %}"></audio>
    <audio id="kill-sound" src="{% static 'battleship/sounds/kill.mp3' %}"></audio>

    <div class="info">
        <button id="start-game" disabled>Начать игру</button>
        <div id="turn-info"></div>
        <div id="remaining-ships"></div>
    </div>

    <script src="{% static 'battleship/js/game.js' %}"></script>


</body>
</html>
